@charset: "utf-8";
#all{height: 790px;
background-color: pink;
padding-top: 15px;
}
#header{
height: 150px;
background-color: red;
margin-bottom: 15px;
}
#main{
height: 400px;
background-color: orange;
padding-right:15px;
padding-left:15px;
margin-bottom: 15px;
}
#mainL{
height: 400px;
background-color: gray;
margin-right: 15px;
}
#mainR{
height: 400px;
background-color: black;
}
#mainRtop{
height: 135px;
background-color: royalblue;
margin-bottom: 15px;
}
#RtopL{
height: 135px;
background-color: red;
margin-right: 15px;
}
#RtopR{
height: 135px;
background-color: green;
}
#mainRmid{
height: 100px;
background-color: wheat;
margin-bottom: 15px;
}
#RmidL{height: 100px;
background-color: red;
margin-right: 15px;
}
#RmidR{
height: 100px;
background-color:green;
}
#mainRdown{
height: 135px;
background-color: rosybrown;
}
#RdownL{
height: 135px;
background-color: red;
margin-right: 15px;
}
#RdownR{height: 135px;
background-color: green;
}
#footer{
height: 150px;
background-color: blue;
}